<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419337772453-oot6h7ptc1qlue7841ca45gejgk2tipq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419337772453-oot6h7ptc1qlue7841ca45gejgk2tipq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>419337772453-7ijqnbamerpa3sapc67m24565gbej27l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDCPnZ0rUaMLg83JSo-xkeE6KVlBfl4NuA</string>
	<key>GCM_SENDER_ID</key>
	<string>419337772453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FreshRunDeliveryPartner</string>
	<key>PROJECT_ID</key>
	<string>freshrun-cfcfb</string>
	<key>STORAGE_BUCKET</key>
	<string>freshrun-cfcfb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419337772453:ios:97d358c8695a8145b49c4c</string>
</dict>
</plist>